<!-- <app-academic-qualification></app-academic-qualification>
<app-attachment-checklist></app-attachment-checklist>
<app-general-information></app-general-information>
<app-professional-qualification></app-professional-qualification>
<app-record-of-employment></app-record-of-employment>
<app-referees></app-referees>
<app-roles-and-responsibilities></app-roles-and-responsibilities> -->
<div class="topnav">
<a routerLink="profile">Employee's Profile</a>
<a routerLink="genInf">General Information</a> 
<a routerLink="academicQual">Academic Qualification</a> 
<a routerLink="ProfQual">Professional Qualification</a> 
<a routerLink="recordEmp">Record Of employment</a> 
<a routerLink="referees">Referees</a>
<a routerLink="rolesAndResponse">Roles And Responsibilities</a>
<a routerLink="attachmentChecklist">Attachment Checklist</a>

  </div>


<br>
<router-outlet></router-outlet>