<div class="row">
  <div class="col-md-12">
    <div class="card">

      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">Appoinment</h5>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card header end -->

      <!-- card body start -->
      <div class="card-body">

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="file-upload" class="custom-file-upload btn-info">Job Application </label>
              <input class="form-control validate" name="job-application" id="job-application" type="file" placeholder="Upload Job application">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="file-upload" class="custom-file-upload btn-info">Profile Photo</label>
              <input type="file" class="form-control" name="photo" id="photo" placeholder="Upload Passport Size Photo">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="file-upload" class="custom-file-upload btn-info">Source Of Recruitment</label>
              <input type="file" class="form-control" name="recruitment" id="recruitment" placeholder="Upload Source Of Recruitment">
              
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="file-upload" class="custom-file-upload btn-info">Carriculum Vitae</label>
              <input type="file" class="form-control" id="cv" name="cv" placeholder="Carriculum Vitae" >
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="file-upload" class="custom-file-upload btn-info">NIC Copy</label>
              <input type="file" class="form-control" name="nic-copy" id="nic" placeholder="NIC Copy" >
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="file-upload" class="custom-file-upload btn-info">Birth Certificate</label>
              <input type="file" class="form-control" name="birth-certificate" id="birth-certificate" placeholder="Birth Certificate" >
              
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="file-upload" class="custom-file-upload btn-info">Marriage Certificate</label>
              <input type="file" class="form-control" name="marriage-certificate" id="marriage-certificate" placeholder="Marriage Certificate" >
              
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="file-upload" class="custom-file-upload btn-info">Job Offer Letter</label>
              <input type="file" class="form-control" name="job-offer-letter" placeholder="Job Offer Letter" >
              
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="file-upload" class="custom-file-upload btn-info">Job Description</label>
              <input type="file" class="form-control" name="job-description" id="job-description" placeholder="Job Description" >
              
            </div>
         
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="file-upload" class="custom-file-upload btn-info">Agreements & Contracts</label>
              <input type="file" class="form-control" name="agreements" id="agreements" placeholder="Agreements & Contracts" >
              
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="file-upload" class="custom-file-upload btn-info">Job Acknowledgement</label>
              <input type="file" class="form-control" name="acknowledgement" id="acknowledgement" placeholder="Job Acknowledgement" >
              
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="file-upload" class="custom-file-upload btn-info">Qualifications</label>
              <input type="file" class="form-control" name="qualifications" id="qualifications" placeholder="Educational and Profeccional " >
              
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="file-upload" class="custom-file-upload btn-info">Interview Result</label>
              <input type="file" class="form-control" name="interview-result" id="interview-result" placeholder="Interview Results" >
              
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="file-upload" class="custom-file-upload btn-info">Medical Reports</label>
              <input type="file" class="form-control" name="m-reports" id="m-reports" placeholder="Medical Reports" >
              
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="form-group">
              <label for="file-upload" class="custom-file-upload btn-info"> Salary Sheet </label>
              <input type="file" class="form-control" name="salary-sheet" id="salary-sheet" placeholder="Salary Sheet" >
              
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="file-upload" class="custom-file-upload btn-info">Appoinment Documents</label>
              <input type="file" class="form-control" name="app-docs" id="app-docs" placeholder="Appoinment Documents" >
              
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="file-upload" class="custom-file-upload btn-info">Employee Benefits</label>
              <input type="file" class="form-control" name="emp-benefits" id="emp-benefits" placeholder="Employee Benefits" >
              
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="file-upload" class="custom-file-upload btn-info">
                  <i class="fa fa-paperclip" aria-hidden="true"></i>Emergency Contacts</label>
              <input type="file" class="form-control" name="eme-contact" id="eme-contact" placeholder="Emergency Contracts" >
              
            </div>
          </div>
          <div class="col-md-3">
            
              <label for="file-upload" class="custom-file-upload btn-info">
                  <i class="fa fa-cloud-upload"></i>Awards & Citations</label>
              <input type="file" class="form-control" name="awards-citations" id="awards-citations" placeholder="Awards & Citations" >
              
            
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="file-upload" class="custom-file-upload btn-info"><a href="#" class="zocial linkedin"></a>Other Documents</label>
              <input type="file" class="form-control" name="awards-citations" id="awards-citations" placeholder="Awards & Citations" >
              
            </div>
          </div>
         
        </div>


        
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Upload</button>
      </div>
        
      </div>
      <!-- card body end -->
      
      
    </div>
  </div>
</div>
<label for="file-upload" class="custom-file-upload">
  <i class="fa fa-cloud-upload"></i> Custom Upload
</label>
<input id="file-upload" type="file"/>







