

  <div class="row">
      <div class="col-md-12">
    
        <!-- 1st Form Start -->
        <div class="card">
    
          <!-- card header start -->
          <div class="card-header">
            <h5 class="card-title">General Information</h5>
    
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-widget="remove">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
          <!-- card-header end -->
    
          <!-- card body start -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="card card-primary">
    
                  <!-- form start -->
                  <div class="card-body">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                          <div class="col-md-6">
                            <div class="row">
                              Name:
                            </div>
                            <div class="row">
                              Address:
                            </div>
                            <div class="row">
                              Email:
                            </div>
                            <div class="row">
                              Telephone Number:
                            </div>
                            <div class="row">
                              Relationship to the employee :
                            </div>
                          </div>
              
                          <div class="col-md-6">
                            <div class="row">
                              Name:
                            </div>
                            <div class="row">
                              Address:
                            </div>
                            <div class="row">
                              Email:
                            </div>
                            <div class="row">
                              Telephone Number:
                            </div>
                            <div class="row">
                              Relationship to the employee :
                            </div>
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <!-- form end -->
                </div>
              </div>
            </div>
    
          </div>
          <!-- card body end -->
        </div>
      </div>
  </div>
  
