<div class="row">
  <div class="col-md-12">
    <div class="card">

      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title"> Hr experience History</h5>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card header end -->

      <!-- card body start -->
      <div class="card-body">
       <table class="table">
  <thead>
    <tr>
      <th scope="col">Employee ID</th>
      <th scope="col">Employee Name</th>
      <th scope="col">Department</th>
      <th scope="col">Date requested</th>
      <th scope="col">Reason</th>
      <th scope="col">Status</th>
      <th scope="col">Date Issued </th>
      <th scope="col">	Provided service letter</th>
    
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>IT</td>
      <td>2018.11.1</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>2019.10.20</td>
      <td>2 Year</td>
    </tr>
   
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>2 Year</td>
    </tr>
  </tbody>
</table>


                 
      </div>
      <!-- card body end -->
      
    </div>
  </div>
</div>





<div class="row">
  <div class="col-md-12">
    <div class="card">

      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">  Employee experience History</h5>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card header end -->

      <!-- card body start -->
      <div class="card-body">
       <table class="table">
  <thead>
    <tr>
      <th scope="col">Date requested</th> 
      <th scope="col">Reason</th>
      <th scope="col">Status</th>
      <th scope="col">Date Issued </th>
      <th scope="col">	Provided service letter</th>
    
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">2018.2.10</th>
      <td>Mark</td>
     
      <td>2018.11.1</td>
     
      <td>2019.10.20</td>
      <td>2 Year</td>
    </tr>
   
    <tr>
      <th scope="row">2018.10.2</th>
      <td>Larry</td>
      <td>the Bird</td>
     
      <td>@mdo</td>
      <td>2 Year</td>
    </tr>
  </tbody>
</table>


                 
      </div>
      <!-- card body end -->
      
    </div>
  </div>
</div>

